<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quotes</title>

    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        /*height: 100vh;*/
        background-color: #d2eed2;
      }
      .container {
        padding-top: 20px;
        background-color: white;
        border-radius: 22px;
        height: 75vh;
        padding: 17px;
        width: 73vh;
        margin: 2% 33%;
      }
      .picture img{
        padding-top: 30px;
      }
      .header{
        display: flex;

      }
      .firstHalf{
        color: rgb(58, 250, 0);
      }
      .secondHalf{
        color: black;
      }

      .picture p{
        position: absolute;
        margin: -163px 150px;
        text-align: center;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="header">

            <div class="firstHalf">
               <b> COVER </b>
            </div>
            <div class="secondHalf">
                <b><u>QUOTES</u></b>
            </div>
        </div>
        
      <div class="picture">
          <img src="https://picsum.photos/400/300" alt="" />
          <p>Good Morning</p>
      </div>
    </div>
  </body>
  
</html>
